<div class="inner cover">
  <h1 class="cover-heading"><i>Luqman Abdi</i></h1>
  <p class="lead">"Work hard in silence, let your success be your noise" ~ Frank Ocean</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>